<div class="sticky-header position-sticky top-0 bg-white z-3 border-bottom p-2">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0 fs-4">Books</h1>
    <select [(ngModel)]="drpv" class="form-select w-auto ">
      <option *ngFor="let op of opt" [value]="op">Select by Category : {{ op }}</option>
    </select>
  </div>
</div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-dark text-white vh-100">
        <div class="sticky-sidebar p-3">
         <p class="menu-item" (click)="getUCarts()">Get User Carts</p>
         <p class="menu-item" (click)="getUBooks()">Get User Books</p>
         <p class="menu-item" (click)="bshow = false">Home</p>
        </div>
      </div>

      <div class="col p-3 " >
         <div *ngIf="bshow==false"><app-book [drpval]="drpv" [uid]="Id"></app-book>
      </div>
<div *ngIf="data && show==true && bshow==true">
    <h3>user carts</h3>
  <div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let cart of data">
      <div class="card p-2">
          <p class="card-title">{{ cart.title }}</p>
          <p class="card-text">Author: {{ cart.name }}</p>
          <p class="card-text">Category: {{ cart.category }}</p>
      </div>
    </div>
  </div>
</div>
</div>

  <div *ngIf="data && show==false && bshow==true">
    <h3>user books</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let book of data">
          <div class="card p-2">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Author: {{ book.name }}</p>
            <p class="card-text">Category: {{ book.category }}</p>
          </div>
        </div>
      </div>
</div>
</div>
    <div class="footer  text-white text-center py-2 fixed-bottom">foot</div>
</div>
  </div>
  </div>